/* ==================== RESET ==================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ==================== CAŁA STRONA ==================== */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1f1f1f;
    color: #d2d2d2;
    font-family: Arial, sans-serif;
}


/* ==================== MENU ==================== */

nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 20px;

    background-color: rgba(10, 10, 10, 0.8);
}


/* ==================== LINKI ==================== */

a {
    color: white;
    text-decoration: none;
}


/* ==================== SEKCJE ==================== */

section {
    min-height: 100vh;
    padding: 120px 10%;
}


/* ==================== ZDJĘCIA ==================== */

img {
    max-width: 100%;
    height: auto;
}
